<% if session[:views_remaining] > 0 %>
    <p> page views remaining: <%= session[:views_remaining] %> </p>

        <h1><%= @lyric.song.title %> by <%= @lyric.song.artist %></h1>
     
            <% @lyrics.each do |lyric| %>
                <%= link_to lyric %>
                <% end %>



        <button type="button"> I've memorized the whole song!</button>

        </div>

    <% else %>

    <iframe width="560" height="315" src="https://www.youtube.com/embed/sxKF19jYk68" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
    
    </iframe>
    <%= button_to "I watched the whole ad", "/sessions/reset_views", method: :patch, class:"button" %>

<% end %>
