<div class="container" style="padding-top: 30px;">
        <h1 class="display-3" style="padding-top: 30px;">Edit User's Form</h1>
        <br/>

    </div>
    
    <div class="container" style="padding-top: 30px;">

<%= form_for @user do |f| %>
    <%= f.label :username  %>
    <%= f.text_field :username %>

    <%= f.label :password %>
    <%= f.text_field :password %>

    <%= f.submit "update" %>

<% end %>

    <%= button_to "Delete", user_path(@user), method: :delete %>
    
</div>