<h1> Create an account! </h1>

<%= form_for @user do |f|%>
  <%= f.label :username%><br>
  <%= f.text_field :username%><br>
  
  <%= f.label :password%><br>
  <%= f.password_field :password%><br>
     
  <%= f.submit "Sign up!" %>
<%end%>