<h1> user show </h1>

<p> username: <%= @user.username %> </p>

<h2> Memorized Lines </h2>
<% @user.memorized_lines.each do |memorized_line| %>
<%= memorized_line.lyric.lines_of_lyrics %>
<br>
<% end %>


<br>
<br>
<%= button_to "add lyrics", new_memorized_line_path, method: :get %>
<br>
<br>
<%= button_to "Edit User", edit_user_path, method: :get %>
<%= button_to "Destory User", user_path, method: :delete %>