<h1>
<p> <%= @user.username %>'s Lyric page </p>
</h1>

<br>
<br>
<%= button_to "view available songs", songs_path, method: :get %>
<br>
<br>

<p> Memorized Lines </p>
<% @user.memorized_lines.each do |memorized_line| %>
<%= memorized_line.lyric.lines_of_lyrics %>
<br>
<% end %>

<br>
<%= button_to "Edit User's account", edit_user_path, method: :get %>
<%= button_to "Destory User's account", user_path, method: :delete %>