<h1> </h1>

<br>
<br>
<%= button_to "view available songs", songs_path, method: :get %>
<br>
<br>

    <% if logged_in? && logged_in_user.id == @user.id %>

      <%= button_to "Edit Profile", edit_user_path(@user), method: :get, class: "button" %>

      <%= button_to "Delete Account", @user, method: :delete, class: "button" %>
    <% end %>

<p> Memorized Lines </p>
<% @user.memorized_lines.each do |memorized_line| %>
<%= memorized_line.lyric.lines_of_lyrics %>
<br>
<% end %>

<br>
<%= button_to "Edit User's account", edit_user_path, method: :get %>
<%= button_to "Destory User's account", user_path, method: :delete %>